<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{'nav-style': true}">
    <a class="navbar-brand mb-0 h1" [ngClass]="{'a': true}" href="#">Herois</a>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">Home</a>
        </li>
      </ul>
    </div> -->
  </nav>
<div class="container" [ngClass]="{'conteudo': true}">
    <!--Chama os módulos das rotas-->
    <router-outlet></router-outlet>
</div>